/* Classes */ 
.center {
    text-align: center; 
}

.main-title-color {
	color: white;
}
.section-title-color {
	color: #F70000;
}

.flag-icon {
	margin-bottom: 5px;
	margin-right: 5px;
	width: 32px;
}

.dotted-line {
    border-right: 1px dotted #ccc; 
    min-height: 140px; 
    margin-right: 30px;
}
.somePadding {
    padding: 5px;
}
.ok-icon {
    position: relative;
    top: -10px;
    font-size: 1.5em;
    right: 10px;
    color: white;
}

/* Buttons */
#frmEmail .btn, .btn-default {
    border-radius: 0px;
}
.btn-info {
    background-color: #6cbfe9; 
}

/* Forms */ 
textarea {
	resize:vertical
}
.form-control {
    border-radius: 0px;
}

/* Id */
#contact hr {
    padding-bottom: 20px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    margin-bottom: 15px;
}

#contact ul li i {
    margin-right: 10px;
}

.align-Adress {
    margin-left: 25px;
}

#coord {
    width: 500px;
    margin: 0 auto;
    font-size: 1.3em;
}

#errMsgEmail a {
    color: red;
}